html{
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
}

/* Slideshow container */
.slideshow-container {
    position: relative;
    margin: auto;
    z-index: 1;
  }
  
  /* Hide the images by default */
  .mySlides {
      display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
  }
  
  /* Position the "next button" to the right */
  .prev{
      left: 0;
      border-radius: 0 3px 3px 0;
  }
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    margin-top: -40px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .dots-space{
      position: relative;
      z-index: 2;
      display: block;
      margin-top: -50px;
  }
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }

.container{
    display: block;
    margin-bottom: 50px;
}

div.App {
    text-align: center;
    margin: 0 auto; 
    width: 100%;
}

div.container {
    display: block;
    margin: 0 auto;
}

div.clean-bottom {
    margin-bottom: 20vh;
}

div.slide-picture img {
    width: 100%;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;  
}

.featurette-divider {
    margin: 5rem 0;
}

.float-right {
    float: right;
}

.footer{
    text-align: center;
}

footer > p {
    margin: 0 0;
}

footer > p > a{
    color: #007bff;
    text-decoration: none;
}

footer {
    font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    max-width: 540px;
    text-align: center;
    margin: 0 auto;
}

h1.section-title {
    color: #fff;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 800;
    margin-bottom: 120px;
    text-align: center;
    text-shadow: 3px 2px rgba(0, 0, 0, 0.305);
}

p.section-description {
    color: #919191;
    font-weight: 300;
    font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    z-index: 100;
}

h2.featurette-heading {
  color: #919191;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: bold;
}

.slide-control:hover {
    cursor: pointer !important;
    color: blue;
}

.title-description {
    margin-top: 100px;
    display: block;
}

/*Desktop first*/

@media only screen and (max-width: 767px) {
    .dots-space{
        margin-top: -40px;
    }
    div.mySlides > picture > img {
        height: 60vh;
    }
    div.title-description {
        height: 40vh;
    }
    h1.section-title {
        font-size: 40px;
        margin-bottom: 100px;
    }
    .featurette-heading {
        font-size: 32px;
    }
    p.section-description {
        font-size: 30px;
        line-height: 1.5;
        padding: 0 20px;
        margin-top: -20px;
    }
    .banner-bg {
        height: 100px;
        width: 100%;
    }
    .detail-img {
        margin-top: 100px;
        width: 80px;
    }
    h1.section-title {
        font-size: 48px;
    }
    .layer-img {
        margin-top: -100px;
        width: 200px;
    }
}

@media only screen and (max-width: 480px) {
    .dots-space{
        margin-top: -40px;
    }
    div.mySlides > picture > img {
        height: 50vh;
    }
    div.title-description {
        height: 50vh;
    }
    h1.section-title {
        text-shadow: 2px 1px rgba(0, 0, 0, 0.305);
        font-size: 40px;
        margin-bottom: 80px;
    }
    h1.section-title-3 {
        text-shadow: 2px 1px rgba(0, 0, 0, 0.305);
        margin-bottom: 70px;
    }
    .featurette-heading {
        font-size: 32px;
    }
    p.section-description {
        font-size: 26px;
        line-height: 1.5;
        padding: 0 20px;
        margin-top: -20px;
    }
    .banner-bg {
        height: 100px;
        width: 100%;
    }
    .detail-img {
        margin-top: 100px;
        width: 80px;
    }
    .layer-img {
        margin-top: -100px;
        width: 200px;
    }
    .row featurette {
        display: block;
        min-height: 100vh;
    }
}

/*Mobile first*/

@media only screen and (min-width: 768px){
    .breakline {
        display: block;
    }
    div.mySlides > picture > img {
        height: 60vh;
    }
    div.title-description {
        height: 40vh;
    }
    div.feature-clean-fix{
        height: 20vh;
    }
    .featurette-heading {
        font-size: 40px;
    }
    h1.section-title {
        font-size: 60px;
        margin-bottom: 100px;
    }
    h1.section-title-3 {
        margin-bottom: 120px;
    }
    p.section-description {
        font-size: 36px;
        margin-top: -30px;
        line-height: 1.5;
    }
    .banner-bg {
        height: 100px;
        width: 100%;
    }
    .detail-img {
        width: 80px;
    }
    .layer-img {
        margin-top: -100px;
        width: 200px;
    }
}

@media only screen and (min-width: 1280px){
    .banner-bg {
        height: 125px;
    }
    .featurette-heading {
        font-size: 48px;
    }
    h1.section-title {
        margin-bottom: 120px;
    }
    p.section-description {
        font-size: 36px;
        margin-top: -30px;
        line-height: 1.5;
    }
    .detail-img {
        width: 100px;
    }
    .layer-img {
        margin-top: -100px;
        width: 200px;
    }
}

@media only screen and (min-width: 1600px){
    h1.section-title {
        font-size: 80px;
        margin-bottom: 140px;
    }
    p.section-description {
        font-size: 40px;
        margin-top: 0;
    }
    .banner-bg {
        height: 150px;
    }
    .layer-img {
        width: 250px;
    }

}